<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- properties 파일 설정 -->
	<properties resource="application.properties"/>
	
	<settings>
	    <!-- VO와 테이블컬럼명에 있는 언더바 대응 -->
	   	<setting name="mapUnderscoreToCamelCase" value="true"/>
	   	<!-- 오라클 Nullable 컬럼 대응 -->
	   	<setting name="jdbcTypeForNull" value="VARCHAR"/>
   </settings>
   
   <typeAliases>
   		<typeAlias type="com.rm.book.vo.BookVO" alias="bookVO"/>
   		<typeAlias type="com.rm.book.vo.MemberVO" alias="memberVO"/>
   		<typeAlias type="com.rm.book.vo.LoanVO" alias="loanVO"/>
   </typeAliases>
   
   <mappers>
   		<mapper resource="mybatis/mapper/Book-Mapper.xml"/>
   		<mapper resource="mybatis/mapper/Member-Mapper.xml"/>
   		<mapper resource="mybatis/mapper/Loan-Mapper.xml"/>
   </mappers>
   
</configuration>
